<section class="container-fluid p-0">
  <ol class="list-group list-group-numbered" *ngIf="centers.length > 0">
    <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let center of centers">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{center?.name}}</div>
        <span class="badge rounded-pill bg-primary me-1" *ngFor="let session of center.sessions">{{session.date}}</span>
      </div>
      <span class="badge bg-primary rounded-pill">{{center?.count}}</span>
    </li>
  </ol>
  <div *ngIf="centers.length == 0">
    No slots available for you now... good luck soon!!
  </div>
</section>